<nav class="navbar navbar-light hidden-print">

  <div class="row">
      <div class="col-sm-4">
            <span><strong> Google </strong></span>
            <div id="ticker">  </div>
    </div>
    <div class="col-md-8">
        <small>
            <img src="/static/emails.png" style="width: 20px"> marek.bejda@gmail.com
            <img src="/static/github.jpeg" style="width: 20px"> github.com/marek5050
            <img src="/static/twitter.jpg" style="width: 20px">@marek5050
            <img src="/static/wordpress.png" style="width: 20px"> AModernStory.com
        </small>
        <p class="text-right" style="margin-left:50%">{{ site.description }}</p>

    </div>
  </div>

</nav>

















 <script type="text/javascript">
$(document).ready(function(){
  $.ajax({
        type: 'GET',
        url: "http://www.cors.ninja/api/request",
        data:{url: "https://www.google.com/finance?q=GOOG&ei=jyJzVYjEIMG7rgGHt4HgDQ", method: "GET"},
        async: true,
        contentType: "application/json"
     }).done(function(data){
             if(!data) return;
          var html = $.parseHTML(data.body);
          var price_panel = $(html).find("#price-panel");
          $(price_panel).find(".mdata-dis").remove();
          $("#ticker").append(price_panel);
     });
function replaceAll(find, replace, str) {
  return str.replace(new RegExp(find, 'g'), replace);
}

$.ajax({
        type: 'GET',
        url: "http://www.cors.ninja/api/request",
        data:{url: "http://amodernstory.com/rss", method: "GET"},
        contentType: "application/text"
     }).done(function(data){

          if(!data || !data.body) return;

          data=data.body.substring(data.body.indexOf("<rss version"),data.body.indexOf("</rss>")+6);
          data = replaceAll("&nbsp;","", data);
          var xml = $.parseXML(data);
          var $xml = $(xml);
          var html = "<li> <a href='URL'> TITLE</a> (DATE)</li>";
          var html1 = "";

            $xml.find('item',xml).each(function(idx, item){
            var title = $(item).find('title').first().text();
            var url = $(item).find('guid').text();
            // console.log("URL: " + url, $(item).find('guid').text);
            var date = new Date($(item).find('pubdate').first().text());

             html1 = html.replace("URL", url).replace("TITLE", title).replace("DATE",date.toDateString());
             $("#amodernblog").append(html1);
          });
     }); 
})
</script>
