<nav class="navbar navbar-light hidden-print">

  <div class="row">
    <div class="col-sm-4">
            <div id="ticker">  </div>
    </div>
    <div class="col-md-8">
        <small>
            <img alt='github address' src="http://res.cloudinary.com/ngdeploy/image/upload/c_scale,w_40/v1469994437/github_i8mrdp.jpg" style="width: 20px"> github.com/marek5050
            <img alt='twitter username' src="http://res.cloudinary.com/ngdeploy/image/upload/c_scale,w_40/v1469994418/twitter_y3zvwo.jpg" style="width: 20px">@marek5050
        </small>
        <p class="text-right" style="margin-left:50%">{{ site.description }}</p>

    </div>
  </div>

</nav>