<nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand"  href="{{ site.baseurl }}/">
         <img alt='picture' style="margin-right:10px" src="/static/profile_pic.JPG" width=50 >{{ site.title }}
      </a>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" href="/">Home </a>
      {% for page in site.pages %}
          {% if page.title %}
            <a class=" nav-item nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
      {% endfor %}
    </div>
</nav>